    {{> navbar }}
<h1>Bienvenido {{email}}</h1>
    <h2>Datos personales:</h2>
    <h2>Nombre: {{name}}</h2>
    <h2>Edad: {{age}}</h2>
    <h2>Tlf: {{phone}}</h2>
    <h2>Dirección: {{address}}</h2>
    <img src="{{avatar}}" alt="avatar" style="width:12rem;">
