<h1>Bienvenido {{email}}</h1>
    <h2>Datos personales:</h2>
    <h2>Nombre: {{nombre}}</h2>
    <h2>Edad: {{edad}}</h2>
    <h2>Tlf: {{telf}}</h2>
    <h2>{{address}}</h2>
    <img src="{{avatar}}" alt="avatar" style="width:12rem;">
